h1{font-weight: 575;}
body {max-width: 800px; margin: 0 auto ; padding: 2rem 2rem;font-family:Arial, 'Arial', serif;}
p {padding: 0 0.5rem}
td{padding:0 0.5rem}
h3 {padding: 0 0.1rem}
.icon{width:1em; height: 1em; vertical-align: -0.125em; margin-right: 0.3rem}
a{color: blue; text-decoration:none}
a:hover{text-decoration:underline}
table{margin-bottom: 1.5rem}